<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHD</title>
    <link rel="stylesheet" href="/static/css/Forgot_password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="background-image: url(/static/img/background.jpg);">
    <div id="animation"></div>
    <form action="#" method="GET" class="container">
        <div id="img"></div>
        <img src="/static/img/Logo.png" alt="user">
        <h2>New <span>Password</span></h2>
        <div class="box">
            <div class="text">
                <input name="new-password" class="password1" type="password" placeholder="Password" id="password" required>
                <input class="password2" type="password" placeholder="Password Confirmation" id="confirm_password"
                    required>
            </div>
            <div class="signUp">
                <button class="signUp1"><a href="#" id="log">Submit</a>
            </div>
        </div>
    </form>
    <script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>

</html>